<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Load properties file configuration -->
    <context:property-placeholder location="com/vehicles/application.properties"/>

    <!-- Dependency beans with lifecycle methods -->
    <bean id="dbOperations" class="com.vehicles.config.DBOperations"
          init-method="connectToDatabase"
          destroy-method="disconnectFromDatabase">
        <property name="url" value="${database.url}"/>
        <property name="userName" value="${database.username}"/>
        <property name="password" value="${database.password}"/>
    </bean>

    <!-- Main Beans -->
    <bean id="car" class="com.vehicles.Car">
        <constructor-arg ref="dbOperations"/>
    </bean>
    <bean id="plane" class="com.vehicles.Plane">
        <property name="dbOps" ref="dbOperations"/>
    </bean>

</beans>
